---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

interface OurValues {
  title: string;
  description: string;
  list: {
    icon: string;
    title: string;
    description: string;
  }[];
}

const { title, description, list }: OurValues = (
  await getEntry("sections", "our-values")
).data;
---

{
  (
    <section class="section bg-theme-dark">
      <div class="container">
        <div class="row">
          <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
            {title && (
              <h2 class="mb-6 text-white" set:html={markdownify(title)} />
            )}
            {description && (
              <p class="text-lg/inherit" set:html={markdownify(description)} />
            )}
          </div>
          <div class="col-12 pt-20">
            <div class="row g-4 justify-center">
              {list?.map((item, index) => (
                <div
                  class="md:col-6 lg:col-4"
                  data-aos="fade-up-sm"
                  data-aos-delay={200 + index * 50}>
                  <div class="min-h-full rounded-xl bg-white/5 px-6 py-12">
                    {item.icon && (
                      <div class="mb-6 flex h-16 w-16 items-center justify-center rounded-xl bg-theme-dark">
                        <ImageMod
                          class="h-6 w-6 object-cover"
                          src={item.icon}
                          alt={`icon related to ${item.title}`}
                        />
                      </div>
                    )}
                    {item.title && (
                      <h3
                        class="text-white h5 mb-2"
                        set:html={markdownify(item.title)}
                      />
                    )}
                    {item.description && (
                      <p
                        class="text-light/70"
                        set:html={markdownify(item.description)}
                      />
                    )}
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
